*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: url("bg.jpg");
  }
  #heading {
    height: 20%;
    display: flex;
  }

  h1 {
    font-size: 55px;
    margin: 0;
  }

  #shadow {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
  }

  #image {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  #buttons {
    padding: 30px;
    width: 60%;
    text-align: right;
  }
 

  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80%;
  }
  #sign-in {
 
    background: red;
    padding: 8px 14px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  #sign-in:hover {
    color: rgb(0, 0, 0);
  }
  p {
    margin: 13px;
    font-weight: 400;
  }
  #p1 {
    font-size: 28px;
  }
  #p2 {
    font-size: 23px;
  }